<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Amount</th>
      <th>Payment</th>
      <th>Method</th>
      <th>Status</th>
      <!-- <th>Error</th> -->
      <th>Refund</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.product.name %></td>
        <td><%= order.amount %></td>
        <td><%= link_to "#{order.payment_id}", order %></td>
        <td><%= order.method %></td>
        <td><%= order.status %></td>
        <!-- <td><%= order.error %></td> -->
        <%if order.status == "captured" %>
          <td><%= link_to "refund", action:"refund", id: order.id %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
