<p id="notice"><%= notice %></p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment_id %>
</p>

<p>
  <strong>Method:</strong>
  <%= @order.method %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<!-- <p>
  <strong>Error:</strong>
  <%= @order.error %>
</p> -->

<p>
  <strong>Product:</strong>
  <%= @order.product.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<%= link_to 'Back', orders_path %>
