<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>&#8377; <%= product.price %></td>
        <td>
          <form action="/purchase" method="POST">
          <!-- Note that the amount is in paise = 50 INR -->
          <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_dx0TmeNH8tldL8"
            data-amount="<%= "#{product.price * 100}" %>"
            data-buttontext="Pay"
            data-name="<%= "#{product.name}" %>"
            data-description="<%= "#{product.description}" %>"
            data-image="https://s3.ap-south-1.amazonaws.com/rzp-prod-merchant-assets/payment-link/description/burger-logo_C44radRsyNLxbm.png"
            data-prefill.name="Gaurav Kumar"
            data-prefill.email="<%= "#{current_user.email}" %>"
            data-theme.color="#198F69">
          </script>
          <input type="hidden" value="<%= "#{product.id}" %>" name="product_id">
          <input type="hidden" value="<%= "#{current_user.id}" %>" name="user_id">
          </form>
        </td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
