<header class="navbar">
  <% if signed_in? %>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-link"><%= link_to "Home", root_path%></li> 
      <li class="nav-link"><%= link_to "Products", controller: 'products'%></li> 
      <li class="nav-link"><%= link_to "Orders", controller: 'orders'%></li> 
      <li class="nav-link"> <%= link_to 'Logout', sign_out_path, method: :delete %>
    </ul>
    </nav>
      Signed in as: <%= current_user.email %>
    <% else %>
      <nav>
      <ul class="nav nav-tabs">
        <li class="nav-link"><%= link_to "Home", root_path%></li> 
        <li class="nav-link"> <%= link_to 'Login', sign_in_path %>
      </ul>
  </nav>
  <% end %>
</header>